html {
    overflow-x: hidden;
}


@font-face {
    font-family: "Helvetica Neue Medium";
    src: url('/Fonts/Helvetica_Neue_Medium.ttf');
}

h1, h2, h3, h4, h5, h6, p, i, a, html, body {
    font-family: "Helvetica Neue Medium";
}

.nbLogo {
    height: 45px;
    width: 75px;
}

.nbItems {
    left: 690px;
}

.navbar-nav > .nav-item{
    margin-left: 10px;
    margin-right: 15px;
}

.picture1 {
    height: 400px;
    width: 100%;
}

.heading1 {
    top: 50px;
    left: 580px;
}

.text1 {
    top: 100px;
    left: 24px;
}

.container2 {
    top: 200px;
}

.IGLogo {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.FBLogo {
    height: 43px;
    width: 43px;
    top: 5px;
    border-radius: 50px;
}

.TWLogo {
    height: 47px;
    width: 47px;
    top: 2px;
    border-radius: 50px;
}

@media (min-width: 768px) and (max-width: 992px) {

    .nbToggler {
        left: -5px;
    }

    .nbItems {
        left: 650px;
    }

    .heading1 {
        left: 395px;
    }

}

@media (max-width: 768px)   {

    .nbToggler {
        left: 30px;
    }

    .nbItems {
        left: 250px;
    }

    .picture1 {
        width: 522px;
    }

    .heading1 {
        left: 190px;
    }

    .text1 {
        left: 17px;
    }

    .container2 {
        top: 460px;
        left: 20px;
    }

}